.header {}

.header__container {
    width: 1140px;
    margin: 0 auto;
}

.header__name {}

.list {}

.list__container {
    width: 1140px;
    margin: 0 auto;
}

.user {}

.user__image {}

.user__name {}