.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
    padding: 40px 0;
}

.header__name {
    margin-bottom: 40px;
    font-family: Quarion;
    font-size: 30px;
    font-weight: 700;
}

.sort__types {
    width: 200px;
    padding: 5px 10px;
    margin-right: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: Arial, Quarion;
    font-size: 16px;
}

.sort__btn {
    width: 110px;
    height: 31px;
    background-color: #A9A9A9;
    border-radius: 4px;
    color: #fff;
    font-family: Quarion, Arial;
    font-size: 16px;
    &:hover {
        opacity: 0.7;
    }
}

.list__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
}

.list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    padding: 15px 15px;
    margin-bottom: 20px;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    color: #696969;
    font-family: Arial, Quarion;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

.item__image {
    margin-right: 20px;
    border-radius: 50%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 420px;
    border: 3px solid #A9A9A9;
    border-radius: 10px;
    background-color: #fff;
}

.popup__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.exit {
    width: 25px;
    height: 25px;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

.popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Quarion;
    font-size: 16px;
}

.popup__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.popup__image {
    margin-bottom: 20px;
    border-radius: 50%;
}

.popup__street,
.popup__city,
.popup__state,
.popup__mail,
.popup__phone {
    margin-bottom: 20px;
}